@import "_partials/vars";
@import "login";

.card-green {
  background: rgb(20, 200, 100);
}

.card-blue {
  background: #1890ff;
}

.card-gray {
  background: #999999;
}

.card-red {
  //background: rgb(200, 10, 10);
  background: #FF0000;
}

// custom layout
#components-layout-demo-custom-trigger {
  .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
      color: #1890ff;
    }
  }

  .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.3);
    margin: 16px;
  }
}

// .site-layout-background {
//   margin: 24px 16px;
//   padding: 24px;
//   min-height: 280px;
// }
.header_settings {
  margin: 24px 16px;
  padding: 24px;
  background: $white_color;
}

.site-layout {
  .site-layout-background {
    background: $white_color;
    margin: 0 16px;
    padding: 20px;
    min-height: 280px;
  }
}

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.3);
  margin: 16px;
}

.drawerIcon {
  padding: 0 18px;
}

.order-card {
  h2, h6 {
    color: $white_color;
    font-weight: bold;
  }
  h2 {
    font-size: 1.6rem;
    text-align: right;
  }
  h6 {
    font-size: 1.2rem;
  }
}
.ant-card {
  border-radius: 4px;
}

.card__settings {
  .ant-card-body {
    padding: 15px;
  }
  .label__title {
    color: $white_color;
    font-weight: 400;
    display: flex;
    align-items: center;
    align-content: center;
    font-size: 1rem;
  }
  .count__settings {
    font-size: 3em;
    font-weight: bolder;
  }
  h2 {
    display: flex;
    justify-content: space-between;
    //padding: 15px 0;
  }
}

.loading {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 70%;
  margin: 8rem auto;
}