@import "../_partials/vars";

footer {
  position: absolute;
  bottom: 0;
  padding: 10px;
  margin: 0;
  background: $offWhite;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  color: $black_color;
}