$white_color: rgb(255, 255, 255);
$offWhite: #f7f7f7;
$black_color: rgb(0, 0, 0);

$text-color: #748AA1;
$white-color: rgb(255, 255, 255);
$black-color: rgb(0,0,0);
$twitter: #00ADEE;
$google: #DD4B39;
$facebook: #3B5998;
$primaryButton: #29CB97;
$freelanceColor: #FEC23E;
$codColor: #926329;
$redColor: #FF3514;
$moverYellow: #FFB118;
$moverRed: #FF3514;
$labelColor: #77808B;

// mover dashboard colors defined
$dashBgColor: #151F33; //#F5F8FA;
$dashMain: #0C1321;
$tableColor: #20234C;
$iconColor: #C1CFD9;

// mover light dashboard colors
$dashLightBgColor: #EEEEEE;
